h1.important {
    background-color: black;
}
h2 {
    text-align: center;
    color: rgb(39, 39, 203);
    text-decoration: underline;

}
p{
    font-weight:bolder;
    font-size:larger;
    font-style:initial;
    position:absolute;
}
h3.important{
    font-style: italic;
    font-weight: bolder;
    font-family: sans-serif;
}
h3{
    font-family: sans-serif;
}
